<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ipb.agrodeo">
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Agrodeo.ActionBar.Poppins">
        <activity
            android:name=".ArticleDetailActivity"
            android:parentActivityName=".HomeNavigation"
            android:theme="@style/Theme.Agrodeo.NoActionBar.Poppins" />
        <activity
            android:name=".EditArticleActivity"
            android:parentActivityName=".HomeNavigation"
            android:theme="@style/Theme.Agrodeo.NoActionBar.Poppins" />
        <activity
            android:name=".EditMarketActivity"
            android:parentActivityName=".HomeNavigation"
            android:theme="@style/Theme.Agrodeo.NoActionBar.Poppins" />
        <activity
            android:name=".MarketDetailActivity"
            android:parentActivityName=".HomeNavigation"
            android:theme="@style/Theme.Agrodeo.NoActionBar" />
        <activity android:name=".SelectDeviceActivity" />
        <activity
            android:name=".UploadArticleActivity"
            android:parentActivityName=".HomeNavigation"
            android:theme="@style/Theme.Agrodeo.NoActionBar.Poppins" />
        <activity
            android:name=".UploadMarketActivity"
            android:parentActivityName=".HomeNavigation"
            android:theme="@style/Theme.Agrodeo.NoActionBar.Poppins" />
        <activity
            android:name=".MonitoringLightActivity"
            android:parentActivityName=".HomeNavigation"
            android:theme="@style/Theme.Agrodeo.NoActionBar.Poppins" />
        <activity
            android:name=".MonitoringActivity"
            android:theme="@style/Theme.Agrodeo.NoActionBar.Poppins" />
        <activity
            android:name=".FirstOpenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Agrodeo.NoActionBar.Poppins" />
        <activity
            android:name=".HomeNavigation"
            android:theme="@style/Theme.Agrodeo.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.Agrodeo.NoActionBar.Poppins" />
        <activity
            android:name=".RegistrationActivity"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/Theme.Agrodeo.NoActionBar.Poppins" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/Theme.Agrodeo.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
</manifest>